/build
/output
*/__pycache__/
*.log
*.aux
*.pax
*.DS_Store
.idea/aclpub2.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.vscode
examples/handbook_acl2022/papers/102.pdf
examples/handbook_acl2022/papers/103.pdf
examples/handbook_acl2022/papers/11.pdf
examples/handbook_acl2022/papers/12.pdf
examples/handbook_acl2022/papers/16.pdf
examples/handbook_acl2022/papers/17.pdf
examples/handbook_acl2022/papers/18.pdf
examples/handbook_acl2022/papers/2.pdf
examples/handbook_acl2022/papers/22.pdf
examples/handbook_acl2022/papers/24.pdf
examples/handbook_acl2022/papers/25.pdf
examples/handbook_acl2022/papers/28.pdf
examples/handbook_acl2022/papers/38.pdf
examples/handbook_acl2022/papers/4.pdf
examples/handbook_acl2022/papers/41.pdf
examples/handbook_acl2022/papers/42.pdf
examples/handbook_acl2022/papers/43.pdf
examples/handbook_acl2022/awards/awards.tex
examples/handbook_acl2022/conference_details.yml
examples/handbook_acl2022/harassment/harassment.tex
examples/handbook_acl2022/invited_talks.yml
examples/handbook_acl2022/invited_talks/invited1.tex
examples/handbook_acl2022/invited_talks/invited1_bio.tex
examples/handbook_acl2022/invited_talks/invited2.tex
examples/handbook_acl2022/invited_talks/invited2_bio.tex
examples/handbook_acl2022/local_guide/local_guide.tex
examples/handbook_acl2022/meal/meal.tex
examples/handbook_acl2022/organizing_committee.yml
examples/handbook_acl2022/papers.yml
examples/handbook_acl2022/papers/100.pdf
examples/handbook_acl2022/papers/44.pdf
examples/handbook_acl2022/papers/49.pdf
examples/handbook_acl2022/papers/58.pdf
examples/handbook_acl2022/papers/60.pdf
examples/handbook_acl2022/papers/61.pdf
examples/handbook_acl2022/papers/62.pdf
examples/handbook_acl2022/papers/63.pdf
examples/handbook_acl2022/papers/7.pdf
examples/handbook_acl2022/papers/71.pdf
examples/handbook_acl2022/papers/72.pdf
examples/handbook_acl2022/papers/76.pdf
examples/handbook_acl2022/papers/78.pdf
examples/handbook_acl2022/papers/79.pdf
examples/handbook_acl2022/papers/8.pdf
examples/handbook_acl2022/papers/81.pdf
examples/handbook_acl2022/papers/83.pdf
examples/handbook_acl2022/papers/87.pdf
examples/handbook_acl2022/papers/89.pdf
examples/handbook_acl2022/papers/9.pdf
examples/handbook_acl2022/papers/92.pdf
examples/handbook_acl2022/papers/94.pdf
examples/handbook_acl2022/papers/97.pdf
examples/handbook_acl2022/papers/98.pdf
examples/handbook_acl2022/prefaces.yml
examples/handbook_acl2022/prefaces/introduction.tex
examples/handbook_acl2022/prefaces/m_gen_chair.tex
examples/handbook_acl2022/prefaces/m_local_co-chair.tex
examples/handbook_acl2022/prefaces/m_program_co-chair.tex
examples/handbook_acl2022/prefaces_handbook.yml
examples/handbook_acl2022/program.yml
examples/handbook_acl2022/program_committee.yml
examples/handbook_acl2022/social_event/social_event.tex
examples/handbook_acl2022/sponsor_logos/adobe.png
examples/handbook_acl2022/sponsor_logos/amazon.png
examples/handbook_acl2022/sponsor_logos/apple.png
examples/handbook_acl2022/sponsor_logos/babelscape.png
examples/handbook_acl2022/sponsor_logos/bosch.png
examples/handbook_acl2022/sponsor_logos/deepmind.png
examples/handbook_acl2022/sponsor_logos/grammarly.png
examples/handbook_acl2022/sponsor_logos/ibm.jpg
examples/handbook_acl2022/sponsor_logos/liveperson.jpg
examples/handbook_acl2022/sponsor_logos/megagon.png
examples/handbook_acl2022/sponsor_logos/meta.jpg
examples/handbook_acl2022/sponsor_logos/relativity.png
examples/handbook_acl2022/sponsors.yml
examples/handbook_acl2022/sponsorship/sponsorship.tex
examples/handbook_acl2022/tutorial_message/tutorial_message.tex
examples/handbook_acl2022/tutorial_program.yml
examples/handbook_acl2022/tutorials.yml
examples/handbook_acl2022/tutorials/images/t1.png
examples/handbook_acl2022/tutorials/images/t2.png
examples/handbook_acl2022/tutorials/images/t3.png
examples/handbook_acl2022/tutorials/images/t4.png
examples/handbook_acl2022/tutorials/images/t5.png
examples/handbook_acl2022/tutorials/images/t6.png
examples/handbook_acl2022/tutorials/images/t7.png
examples/handbook_acl2022/tutorials/images/t8.png
examples/handbook_acl2022/tutorials/tutorial1.tex
examples/handbook_acl2022/tutorials/tutorial2.tex
examples/handbook_acl2022/tutorials/tutorial3.tex
examples/handbook_acl2022/tutorials/tutorial4.tex
examples/handbook_acl2022/tutorials/tutorial5.tex
examples/handbook_acl2022/tutorials/tutorial6.tex
examples/handbook_acl2022/tutorials/tutorial7.tex
examples/handbook_acl2022/tutorials/tutorial8.tex
examples/handbook_acl2022/venue_map/venue_map.tex
examples/handbook_acl2022/welcome_reception/welcome_reception.tex
examples/handbook_acl2022/workshops.yml
examples/handbook_acl2022/workshops/program_workshop_1.yml
examples/handbook_acl2022/workshops/program_workshop_10.yml
examples/handbook_acl2022/workshops/program_workshop_11.yml
examples/handbook_acl2022/workshops/program_workshop_12.yml
examples/handbook_acl2022/workshops/program_workshop_13.yml
examples/handbook_acl2022/workshops/program_workshop_14.yml
examples/handbook_acl2022/workshops/program_workshop_15.yml
examples/handbook_acl2022/workshops/program_workshop_16.yml
examples/handbook_acl2022/workshops/program_workshop_17.yml
examples/handbook_acl2022/workshops/program_workshop_18.yml
examples/handbook_acl2022/workshops/program_workshop_19.yml
examples/handbook_acl2022/workshops/program_workshop_2.yml
examples/handbook_acl2022/workshops/program_workshop_20.yml
examples/handbook_acl2022/workshops/program_workshop_21.yml
examples/handbook_acl2022/workshops/program_workshop_22.yml
examples/handbook_acl2022/workshops/program_workshop_23.yml
examples/handbook_acl2022/workshops/program_workshop_24.yml
examples/handbook_acl2022/workshops/program_workshop_25.yml
examples/handbook_acl2022/workshops/program_workshop_26.yml
examples/handbook_acl2022/workshops/program_workshop_27.yml
examples/handbook_acl2022/workshops/program_workshop_28.yml
examples/handbook_acl2022/workshops/program_workshop_3.yml
examples/handbook_acl2022/workshops/program_workshop_4.yml
examples/handbook_acl2022/workshops/program_workshop_5.yml
examples/handbook_acl2022/workshops/program_workshop_6.yml
examples/handbook_acl2022/workshops/program_workshop_7.yml
examples/handbook_acl2022/workshops/program_workshop_8.yml
examples/handbook_acl2022/workshops/program_workshop_9.yml
bin/build/handbook_small/handbook_small.tex
bin/build/handbook_small/handbook_small.run.xml
bin/build/handbook_small/handbook_small.pdf
bin/build/handbook_small/handbook_small.out
bin/build/handbook_small/handbook_small.ind
bin/build/handbook_small/handbook_small.ilg
bin/build/handbook_small/handbook_small.idx
bin/build/handbook_small/handbook_small.bcf
bin/build/handbook_small/content/special/preamble.tex
bin/build/handbook_small/content/special/macros.tex
bin/build/handbook_small/content/setup/venues.tex
bin/build/handbook_small/content/setup/sessions.tex
bin/build/handbook/handbook.toc
bin/build/handbook/handbook.tex
bin/build/handbook/handbook.run.xml
bin/build/handbook/handbook.pdf
bin/build/handbook/handbook.out
bin/build/handbook/handbook.ind
bin/build/handbook/handbook.ilg
bin/build/handbook/handbook.idx
bin/build/handbook/handbook.bcf
bin/build/handbook/content/special/preamble.tex
bin/build/handbook/content/special/macros.tex
bin/build/handbook/content/setup/venues.tex
bin/build/handbook/content/setup/sessions.tex
.idea/workspace.xml
bin/build/handbook_small/handbook_small.toc
bin/build/posters_guide/content/setup/sessions.tex
bin/build/posters_guide/content/setup/venues.tex
bin/build/posters_guide/content/special/macros.tex
bin/build/posters_guide/content/special/preamble.tex
bin/build/posters_guide/posters_guide.bcf
bin/build/posters_guide/posters_guide.idx
bin/build/posters_guide/posters_guide.ilg
bin/build/posters_guide/posters_guide.ind
bin/build/posters_guide/posters_guide.out
bin/build/posters_guide/posters_guide.pdf
bin/build/posters_guide/posters_guide.run.xml
bin/build/posters_guide/posters_guide.tex
bin/build/posters_guide/posters_guide.toc
bin/poster_list.csv
bin/posters_slots.csv
examples/handbook_acl2022/3d_floorplan_pdf.pdf
examples/handbook_acl2022/ACL-2022-program-overview_v1.pdf
examples/handbook_acl2022/ACL-booklet_backcover_4.8.22_blue-bars.pdf
examples/handbook_acl2022/ACL-sponsor-ad-pages_A5.pdf
examples/handbook_acl2022/ACL_cover_v3.pdf
examples/handbook_acl2022/ACL_cover_v3_handbook_full.pdf
examples/handbook_acl2022/ACL_cover_v3_posters.pdf
examples/handbook_acl2022/additional_pages.yml
examples/handbook_acl2022/additional_pages/fire_side.tex
examples/handbook_acl2022/additional_pages/panel.tex
examples/handbook_acl2022/invited_talks/invited3.tex
examples/handbook_acl2022/invited_talks/invited3_bio.tex
examples/handbook_acl2022/invited_talks/invited_1.png
examples/handbook_acl2022/invited_talks/invited_2.1.png
examples/handbook_acl2022/invited_talks/invited_2.2.png
examples/handbook_acl2022/invited_talks/invited_2.3.png
examples/handbook_acl2022/invited_talks/invited_3.png
examples/handbook_acl2022/local_guide/images/dublin.png
examples/handbook_acl2022/local_guide/images/green.png
examples/handbook_acl2022/local_guide/images/location.png
examples/handbook_acl2022/local_guide/images/map.png
examples/handbook_acl2022/local_guide_small/images/dublin.png
examples/handbook_acl2022/local_guide_small/images/green.png
examples/handbook_acl2022/local_guide_small/images/location.png
examples/handbook_acl2022/local_guide_small/images/map.png
examples/handbook_acl2022/local_guide_small/local_guide.tex
examples/handbook_acl2022/papers.yml_old
examples/handbook_acl2022/prefaces/general_chair_message.tex
examples/handbook_acl2022/prefaces/local_chair_message.tex
examples/handbook_acl2022/prefaces/program_chairs_message.tex
examples/handbook_acl2022/program_old3.yml
examples/handbook_acl2022/program_overview/23.tex
examples/handbook_acl2022/program_overview/24.tex
examples/handbook_acl2022/program_overview/25.tex
examples/handbook_acl2022/social_event/images/dinner.png
examples/handbook_acl2022/sponsor_logos/alibaba.png
examples/handbook_acl2022/sponsor_logos/asapp.png
examples/handbook_acl2022/sponsor_logos/baidu.png
examples/handbook_acl2022/sponsor_logos/bloomberg.png
examples/handbook_acl2022/sponsor_logos/cohere.png
examples/handbook_acl2022/sponsor_logos/duolingo.png
examples/handbook_acl2022/sponsor_logos/google.png
examples/handbook_acl2022/sponsor_logos/microsoft.png
examples/handbook_acl2022/sponsor_logos/naver.png
examples/handbook_acl2022/sponsor_logos/servicenow.png
examples/handbook_acl2022/sponsorship/contents/alibaba.pdf
examples/handbook_acl2022/sponsorship/contents/amazon.pdf
examples/handbook_acl2022/sponsorship/contents/asapp.pdf
examples/handbook_acl2022/sponsorship/contents/baidu.pdf
examples/handbook_acl2022/sponsorship/contents/bloomberg.pdf
examples/handbook_acl2022/sponsorship/contents/bosh_servicenow.pdf
examples/handbook_acl2022/sponsorship/contents/deepmind.pdf
examples/handbook_acl2022/sponsorship/contents/duolingo.pdf
examples/handbook_acl2022/sponsorship/contents/grammarly.pdf
examples/handbook_acl2022/sponsorship/contents/ibm.pdf
examples/handbook_acl2022/sponsorship/contents/liveperson.pdf
examples/handbook_acl2022/sponsorship/contents/megagon.pdf
examples/handbook_acl2022/sponsorship/contents/meta.pdf
examples/handbook_acl2022/sponsorship/contents/microsoft.pdf
examples/handbook_acl2022/sponsorship/contents/naver.pdf
examples/handbook_acl2022/sponsorship/contents/relativity.pdf
examples/handbook_acl2022/venue_map/ACL 2022 - CCD Floorplan_1.png
examples/handbook_acl2022/venue_map/ACL 2022 - CCD Floorplan_2.png
examples/handbook_acl2022/venue_map/ACL 2022 Exhibtor Floorplan 05.05.png
examples/handbook_acl2022/venue_map/floor.png
examples/handbook_acl2022/welcome_reception/images/social_PNG.png
examples/handbook_acl2022/workshops/papers_workshop_1.yml
examples/handbook_acl2022/workshops/papers_workshop_10.yml
examples/handbook_acl2022/workshops/papers_workshop_11.yml
examples/handbook_acl2022/workshops/papers_workshop_12.yml
examples/handbook_acl2022/workshops/papers_workshop_13.yml
examples/handbook_acl2022/workshops/papers_workshop_14.yml
examples/handbook_acl2022/workshops/papers_workshop_15.yml
examples/handbook_acl2022/workshops/papers_workshop_16.yml
examples/handbook_acl2022/workshops/papers_workshop_17.yml
examples/handbook_acl2022/workshops/papers_workshop_18.yml
examples/handbook_acl2022/workshops/papers_workshop_19.yml
examples/handbook_acl2022/workshops/papers_workshop_2.yml
examples/handbook_acl2022/workshops/papers_workshop_20.yml
examples/handbook_acl2022/workshops/papers_workshop_21.yml
examples/handbook_acl2022/workshops/papers_workshop_22.yml
examples/handbook_acl2022/workshops/papers_workshop_23.yml
examples/handbook_acl2022/workshops/papers_workshop_24.yml
examples/handbook_acl2022/workshops/papers_workshop_25.yml
examples/handbook_acl2022/workshops/papers_workshop_26.yml
examples/handbook_acl2022/workshops/papers_workshop_27.yml
examples/handbook_acl2022/workshops/papers_workshop_28.yml
examples/handbook_acl2022/workshops/papers_workshop_3.yml
examples/handbook_acl2022/workshops/papers_workshop_4.yml
examples/handbook_acl2022/workshops/papers_workshop_5.yml
examples/handbook_acl2022/workshops/papers_workshop_6.yml
examples/handbook_acl2022/workshops/papers_workshop_7.yml
examples/handbook_acl2022/workshops/papers_workshop_8.yml
examples/handbook_acl2022/workshops/papers_workshop_9.yml
examples/handbook_acl2022/workshops_handbook_small.yml
examples/handbook_acl2022/3d_floorplan_pdf.pdf
examples/handbook_acl2022/ACL-booklet_backcover_4.8.22_blue-bars.pdf
examples/handbook_acl2022/ACL-sponsor-ad-pages_A5.pdf
examples/handbook_acl2022/ACL_cover_v3.pdf
examples/handbook_acl2022/ACL_cover_v3_posters.pdf
examples/handbook_acl2022/additional_pages.yml
examples/handbook_acl2022/additional_pages/fire_side.tex
examples/handbook_acl2022/additional_pages/panel.tex
examples/handbook_acl2022/invited_talks/invited3_bio.tex
examples/handbook_acl2022/invited_talks/invited_2.3.png
examples/handbook_acl2022/invited_talks/invited_3.png
examples/handbook_acl2022/local_guide/images/dublin.png
examples/handbook_acl2022/local_guide/images/green.png
examples/handbook_acl2022/local_guide/images/location.png
examples/handbook_acl2022/local_guide/images/map.png
examples/handbook_acl2022/local_guide_small/images/dublin.png
examples/handbook_acl2022/local_guide_small/images/green.png
examples/handbook_acl2022/local_guide_small/images/location.png
examples/handbook_acl2022/local_guide_small/images/map.png
examples/handbook_acl2022/local_guide_small/local_guide.tex
examples/handbook_acl2022/papers.yml_old
examples/handbook_acl2022/program_old3.yml
examples/handbook_acl2022/program_overview/23.tex
examples/handbook_acl2022/program_overview/24.tex
examples/handbook_acl2022/program_overview/25.tex
examples/handbook_acl2022/social_event/images/dinner.png
examples/handbook_acl2022/sponsor_logos/alibaba.png
examples/handbook_acl2022/sponsor_logos/asapp.png
examples/handbook_acl2022/sponsor_logos/baidu.png
examples/handbook_acl2022/sponsor_logos/bloomberg.png
examples/handbook_acl2022/sponsor_logos/cohere.png
examples/handbook_acl2022/sponsor_logos/duolingo.png
examples/handbook_acl2022/sponsor_logos/google.png
examples/handbook_acl2022/sponsor_logos/microsoft.png
examples/handbook_acl2022/sponsor_logos/naver.png
examples/handbook_acl2022/sponsor_logos/servicenow.png
examples/handbook_acl2022/sponsorship/contents/alibaba.pdf
examples/handbook_acl2022/sponsorship/contents/amazon.pdf
examples/handbook_acl2022/sponsorship/contents/asapp.pdf
examples/handbook_acl2022/sponsorship/contents/baidu.pdf
examples/handbook_acl2022/sponsorship/contents/bloomberg.pdf
examples/handbook_acl2022/sponsorship/contents/bosh_servicenow.pdf
examples/handbook_acl2022/sponsorship/contents/deepmind.pdf
examples/handbook_acl2022/sponsorship/contents/duolingo.pdf
examples/handbook_acl2022/sponsorship/contents/grammarly.pdf
examples/handbook_acl2022/sponsorship/contents/ibm.pdf
examples/handbook_acl2022/sponsorship/contents/liveperson.pdf
examples/handbook_acl2022/sponsorship/contents/megagon.pdf
examples/handbook_acl2022/sponsorship/contents/meta.pdf
examples/handbook_acl2022/sponsorship/contents/microsoft.pdf
examples/handbook_acl2022/sponsorship/contents/naver.pdf
examples/handbook_acl2022/sponsorship/contents/relativity.pdf
examples/handbook_acl2022/venue_map/ACL 2022 - CCD Floorplan_1.png
examples/handbook_acl2022/venue_map/ACL 2022 - CCD Floorplan_2.png
examples/handbook_acl2022/venue_map/ACL 2022 Exhibtor Floorplan 05.05.png
examples/handbook_acl2022/venue_map/floor.png
examples/handbook_acl2022/welcome_reception/images/social_PNG.png
examples/handbook_acl2022/workshops/papers_workshop_13.yml
examples/handbook_acl2022/3d_floorplan_pdf.pdf
examples/handbook_acl2022/ACL-booklet_backcover_4.8.22_blue-bars.pdf
examples/handbook_acl2022/ACL-sponsor-ad-pages_A5.pdf
examples/handbook_acl2022/ACL_cover_v3.pdf
examples/handbook_acl2022/ACL_cover_v3_posters.pdf
examples/handbook_acl2022/additional_pages.yml
examples/handbook_acl2022/additional_pages/fire_side.tex
examples/handbook_acl2022/additional_pages/panel.tex
examples/handbook_acl2022/invited_talks/invited3_bio.tex
examples/handbook_acl2022/invited_talks/invited_2.3.png
examples/handbook_acl2022/invited_talks/invited_3.png
examples/handbook_acl2022/local_guide/images/dublin.png
examples/handbook_acl2022/local_guide/images/green.png
examples/handbook_acl2022/local_guide/images/location.png
examples/handbook_acl2022/local_guide/images/map.png
examples/handbook_acl2022/local_guide_small/images/dublin.png
examples/handbook_acl2022/local_guide_small/images/green.png
examples/handbook_acl2022/local_guide_small/images/location.png
examples/handbook_acl2022/local_guide_small/images/map.png
examples/handbook_acl2022/local_guide_small/local_guide.tex
examples/handbook_acl2022/papers.yml_old
examples/handbook_acl2022/program_old3.yml
examples/handbook_acl2022/program_overview/23.tex
examples/handbook_acl2022/program_overview/24.tex
examples/handbook_acl2022/program_overview/25.tex
examples/handbook_acl2022/social_event/images/dinner.png
examples/handbook_acl2022/sponsor_logos/alibaba.png
examples/handbook_acl2022/sponsor_logos/asapp.png
examples/handbook_acl2022/sponsor_logos/baidu.png
examples/handbook_acl2022/sponsor_logos/bloomberg.png
examples/handbook_acl2022/sponsor_logos/cohere.png
examples/handbook_acl2022/sponsor_logos/duolingo.png
examples/handbook_acl2022/sponsor_logos/google.png
examples/handbook_acl2022/sponsor_logos/microsoft.png
examples/handbook_acl2022/sponsor_logos/naver.png
examples/handbook_acl2022/sponsor_logos/servicenow.png
examples/handbook_acl2022/sponsorship/contents/alibaba.pdf
examples/handbook_acl2022/sponsorship/contents/amazon.pdf
examples/handbook_acl2022/sponsorship/contents/asapp.pdf
examples/handbook_acl2022/sponsorship/contents/baidu.pdf
examples/handbook_acl2022/sponsorship/contents/bloomberg.pdf
examples/handbook_acl2022/sponsorship/contents/bosh_servicenow.pdf
examples/handbook_acl2022/sponsorship/contents/deepmind.pdf
examples/handbook_acl2022/sponsorship/contents/duolingo.pdf
examples/handbook_acl2022/sponsorship/contents/grammarly.pdf
examples/handbook_acl2022/sponsorship/contents/ibm.pdf
examples/handbook_acl2022/sponsorship/contents/liveperson.pdf
examples/handbook_acl2022/sponsorship/contents/megagon.pdf
examples/handbook_acl2022/sponsorship/contents/meta.pdf
examples/handbook_acl2022/sponsorship/contents/microsoft.pdf
examples/handbook_acl2022/sponsorship/contents/naver.pdf
examples/handbook_acl2022/sponsorship/contents/relativity.pdf
examples/handbook_acl2022/venue_map/ACL 2022 - CCD Floorplan_1.png
examples/handbook_acl2022/venue_map/ACL 2022 - CCD Floorplan_2.png
examples/handbook_acl2022/venue_map/ACL 2022 Exhibtor Floorplan 05.05.png
examples/handbook_acl2022/venue_map/floor.png
examples/handbook_acl2022/welcome_reception/images/social_PNG.png
examples/handbook_acl2022/workshops/papers_workshop_13.yml
